/* label {
  font-size: 48px;
  background-color: rgb(255, 153, 127);
} */

.first-lable {
  font-size: 48px;
  background-color: rgb(255, 153, 127);
}

#login {
  background-color: rgb(184, 94, 186);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 1s;
}
ul li {
  list-style: none;
}
#login:hover {
  background-color: red;
  color: white;
  transition: all 1s;
  transform: scale(1.2);
}
#hmazzi:hover {
  /* transform: scale(1.5); */
  content: url(https://mobiinsidecontent.s3.ap-northeast-2.amazonaws.com/kr/wp-content/uploads/2025/06/30161822/250701_%EA%B9%80%ED%96%84%EC%B0%8C_04.jpg);
}
h2 {
  background-color: darkslateblue;
  /* background-color: rgba(rgb(114, 44, 44), rgb(101, 133, 101), blue, .1); */
  opacity: 0.5;
}
